
@{
    ViewBag.Title = "ReservaOK";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mensaje = ViewBag.Mensaje;
}
<br />
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>@mensaje</strong>
</div>
