
@{
    ViewBag.Title = "Descargar Planilla Pasajeros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="form-exportar-excel">
    <div class="row">
        <h1 class="page-header col-md-12">Descargar Planilla Pasajeros</h1>
        <input type="button" value="Descargar" class="btn btn-primary pull-right btn-sm" id="btnDescargar" data-loading-text="Descargando espere por favor..." />        
    </div>
</form>